:root {
  --bg: #ededf6;
  --primary-color: #edeae5;
  --secondary-color: #fce181;
  --tertiary-color: #fef9c7;
  --quanternary-color: #9fedd7;
  --quinary-color: #026670;
  --sixth-color: #5d909a;
  --seventh-color: #4a4a4a;
  font-family: "Fugaz one", cursive;
}

* {
  font-family: "Fugaz one", sans-serif;
}

body {
  color: var(--secondary-color);
  font-family: Fugaz One;
  height: 120vh;
  background-image: url("./assets/images/background5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.your-turn {
  border: #edeae5 5px solid;
  border-radius: 15px;
  margin: 5px;
}

.button, .hover-transition,
input {
  box-shadow: 3px 8px 10px #026670 !important;
  font-family: Fugaz one;
  /* transition: background-color 500ms ease; */
}

.button:hover {
  background-color: var(--quanternary-color);
}

.timer {
  font-size: 30px;
  color: var(--quinary-color);
  color: #fce181;
  font-weight: 500;
  font-size: 45px;
}

.fixed-container {
  height: 15vh;
}

/* CHRIS ADDED */

.live-chat-header {
  color: var(--secondary-color);
  font-size: 20px;
  margin-top: 3vh;
  background-color: #edeae5c2;
  background-size: 50px;
  border-radius: 5px;
  padding: 2vh;
  width: auto;
  box-shadow: 3px 8px 10px #026670;
  border: #02677083 5px solid;
  
  border-radius: 25px;
 
  /* opacity: 80%; */
  /* text-align: center; */
}

.live-chat-message {
  color: var(--quinary-color);
  font-size: 15px;
 
  /* opacity: 70%; */
	max-height: 10vh;
	overflow-y: scroll;
}

.live-chat {
  font-size: 15px;
  color: var(--quinary-color);
  padding-top: 1vh;
  
  /* opacity: 80%; */
}

.live-chat-input {
  /* opacity: 30%; */
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  
}

.live-chat-button {
  margin-left: 1vw;
  background-color: var(--quanternary-color);
  border-radius: 5px;
  font-size: 11px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-family: Fugaz One;
  color: var(--seventh-color);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.username-chat {
  color: #5d909a;
}

.landing-letters {
  font-size: 5rem;
  text-align: center;
  color: var(--secondary-color);
  text-shadow: 4px 4px 2px black, 6px 6px 10px black;
  transition: text-shadow 400ms ease, font-size 500ms ease;
  margin-top: 10vh;
}

.landing-letters-3 {
  color: var(--quanternary-color);
}

.landing-letters:hover {
  text-shadow: 10px 10px 4px black, 6px 6px 10px black;
  font-size: 7rem;
}

/* .center {
  position: fixed;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

.game-header {
  color: var(--secondary-color);
  font-size: 50px;
  text-shadow: 4px 4px 2px black, 6px 6px 10px black;
  transition: border-color 250ms ease;
}

.game-header-3 {
  color: var(--quanternary-color);
  font-family: Fugaz One;
}

.welcome {
  color: var(--secondary-color);
  font-size: 20px;
}

.players-ul {
  display: inline;
}

.players {
  /* background: #026670; */
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  /* width: fit-content;
  height: fit-content; */
  padding: 10px 20px;
	margin: 5px;
  /* opacity: 70%; */
  /* display: flex; */
}

.players h1 {
  font-size: larger;
  margin-right: 0.5vw;
}

.playerLi {
  color: var(--primary-color);
}

.players ul {
  display: flex;
}

.rendered-letters {
  text-align: center;
  padding-top: 6vh;
}

.letter-box {
  /* width: 45px !important; */
  list-style-type: none;
  display: inline-block;
  margin: 0px 2px;
  padding-top: 2px;
  background-color: #02677065;
  border-radius: 3px;
  width: calc((100vw - 1.5rem - 110px) / 9);
  max-width: 50px;
}

.letter-span {
  padding: 2px 0px;
  margin: 1px 4px;
  font-size: 27px;
  color: #fce181;
}

.active-player {
  color: red;
}

.words-list {
  height: 8vh;
}

.hidden {
  display: none;
}

.modal-main {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 330px !important;
  background-color: var(--sixth-color);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.3);
}

.modal-show .modal-content {
  transform: translateY(0);
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
  font-size: 25px;
  color: var(--seventh-color);
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.join-modal-body {
  color: var(--secondary-color);
}

.type-box {
  height: 32px !important;
  border-radius: 5px;
  margin: 5px 0 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.type-box:hover {
  background-color: var(--quanternary-color);
}

.hover-transition,
.modal-enter-button,
.modal-close-button,
.modal-toggle-button,
.join-game-button,
.sign-up-button {
  /* color: var(--quinary-color); */
  background-color: var(--secondary-color);
  margin-right: 5px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: Fugaz One;
  color: var(--seventh-color);
  transition: background-color 500ms ease;
  box-shadow: 3px 8px 10px #026670 !important;
  /* padding: 6px; */
}

.modal-toggle-button,
.sign-up-button {
  width: 90px;
  margin-top: 1vh;
  height: 30px;
}

.hover-transition:hover,
.modal-enter-button:hover,
.modal-close-button:hover,
.modal-toggle-button:hover,
.join-game-button:hover,
.sign-up-button:hover {
  background-color: var(--quanternary-color);
  /* transition: color 250ms ease; */
}

.join-game-button {
  box-shadow: 3px 8px 10px #026670 !important;
  padding: 6px;
}

.room-name {
  color: var(--primary-color);
}

.hover-transititon {
  padding: 6px;
} 

.MW {
  height: 50px;
}

.footer {
  background-color: var(--seventh-color) !important;
  opacity: 0.7;
  color: #edeae5;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 15px !important;
  text-shadow: 1px 1px 0px black;
}

.footer a {
  text-decoration: none;
  color: var(--quinary-color);
}

.name-background {
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 8vw;
  height: 4vh;
  box-shadow: 5px 10px 10px black;
  line-height: 2.5;
}
