:root {
  --bg: #ededf6;
  --primary-color: #edeae5;
  --secondary-color: #fce181;
  --tertiary-color: #fef9c7;
  --quanternary-color: #9fedd7;
  --quinary-color: #026670;
  --sixth-color: #5d909a;
  --seventh-color: #4a4a4a;
  font-family: "Fugaz one", cursive;
}

* {
  font-family: "Fugaz one", sans-serif;
}

body {
  color: var(--secondary-color);
  font-family: Fugaz One;
  height: 120vh;
  background-image: url("./assets/images/background5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.your-turn {
  border: #edeae5 5px solid;
  border-radius: 15px;
  margin: 5px;
}

.button,
.hover-transition,
input {
  box-shadow: 3px 8px 10px #026670 !important;
  font-family: Fugaz one;
}

.button:hover {
  background-color: var(--quanternary-color);
}

.timer {
  font-size: 30px;
  color: var(--quinary-color);
  color: #fce181;
  font-weight: 500;
  font-size: 45px;
}

.letters-buttons {
  height: 10vh;
}

.live-chat-header {
  color: var(--secondary-color);
  font-size: 20px;
  margin-top: 3vh;
  background-color: #edeae5c2;
  background-size: 50px;
  border-radius: 5px;
  padding: 2vh;
  width: auto;
  box-shadow: 3px 8px 10px #026670;
  border: #02677083 5px solid;
  border-radius: 25px;
}

.live-chat-message {
  color: var(--quinary-color);
  font-size: 15px;
  height: 10vh;
  overflow-y: scroll;
}

.live-chat {
  font-size: 15px;
  color: var(--quinary-color);
  padding-top: 1vh;
}

.live-chat-input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3) !important;
}

.live-chat-button {
  margin-left: 1vw;
  background-color: var(--quanternary-color);
  border-radius: 5px;
  font-size: 11px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-family: Fugaz One;
  color: var(--seventh-color);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.chat-form {
  height: 4vh;
}

.username-chat {
  color: #5d909a;
}

.me-in-chat {
  color: var(--secondary-color);
  text-shadow: 1px 1px 2px black, 2px 1px 3px black;
}

.landing-letters {
  font-size: 5rem;
  text-align: center;
  color: var(--secondary-color);
  text-shadow: 4px 4px 2px black, 6px 6px 10px black;
  transition: text-shadow 400ms ease, font-size 500ms ease;
  margin-top: 10vh;
}

.landing-letters-3 {
  color: var(--quanternary-color);
}

.landing-letters:hover {
  text-shadow: 10px 10px 4px black, 6px 6px 10px black;
  font-size: 7rem;
}

.game-header {
  color: var(--secondary-color);
  font-size: 50px;
  text-shadow: 4px 4px 2px black, 6px 6px 10px black;
  transition: border-color 250ms ease;
}

.game-header-3 {
  color: var(--quanternary-color);
  font-family: Fugaz One;
}

.welcome {
  color: var(--secondary-color);
  font-size: 20px;
}

.players-ul {
  display: inline;
}

.players {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
}

.players h1 {
  font-size: larger;
  margin-right: 0.5vw;
}

.playerLi {
  color: var(--primary-color);
}

.players ul {
  display: flex;
}

.rendered-letters {
  text-align: center;
  padding-top: 6vh;
}

.letter-box {
  list-style-type: none;
  display: inline-block;
  margin: 8px 2px;
  padding-top: 2px;
  background-color: #02677065;
  border-radius: 3px;
  width: calc((100vw - 1.5rem - 110px) / 9);
  max-width: 50px;
}

.letter-span {
  padding: 2px 0px;
  margin: 1px 4px;
  font-size: 27px;
  color: #fce181;
}

.active-player {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 17px #fff;
}

.words-list {
  height: 9vh;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

.modal-main {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 330px !important;
  background-color: var(--sixth-color);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.3);
}

.modal-show .modal-content {
  transform: translateY(0);
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
  font-size: 25px;
  color: var(--seventh-color);
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.join-modal-body {
  color: var(--secondary-color);
}

.bad-word-msg,
.modal-error-msg {
  color: var(--secondary-color);
  text-shadow: 1px 1px 1px black, 1px 1px 5px black;
}

.type-box {
  height: 32px !important;
  border-radius: 5px;
  margin: 5px 0 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.type-box:hover {
  background-color: var(--quanternary-color);
}

.hover-transition,
.modal-enter-button,
.modal-close-button,
.modal-toggle-button,
.join-game-button,
.sign-up-button {
  background-color: var(--secondary-color);
  margin-right: 5px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: Fugaz One;
  color: var(--seventh-color);
  transition: background-color 500ms ease;
  box-shadow: 3px 8px 10px #026670 !important;
}

.modal-toggle-button,
.sign-up-button {
  width: 90px;
  margin-top: 1vh;
  height: 30px;
}

.hover-transition:hover,
.modal-enter-button:hover,
.modal-close-button:hover,
.modal-toggle-button:hover,
.join-game-button:hover,
.sign-up-button:hover {
  background-color: var(--quanternary-color);
}

.join-game-button {
  box-shadow: 3px 8px 10px #026670 !important;
  padding: 6px;
}

.room-name {
  color: var(--primary-color);
}

.hover-transititon {
  padding: 6px;
}

.MW {
  height: 50px;
}

.footer {
  background-color: var(--sixth-color) !important;
  color: var(--secondary-color);
  font-size: 25px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px !important;
  line-height: 50%;
}

.footer img {
  border-radius: 50%;
  box-shadow: 1px 2px 5px black;
  height: 7vh;
  margin: 0 5px;
}

.creators {
  padding-right: 5px;
  text-shadow: 1px 1px 2px black, 2px 1px 3px black;
}

.numbers-generated {
  font-size: 30px;
  color: var(--tertiary-color);
  margin-top: 1vh;
}

.numbers-divide {
  margin-left: 1vw;
}

.target-number {
  font-size: 40px;
  color: #9fedd7;
}
