/* FYI hadas */
.background {
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.field button {
  width: 50vw;
  box-shadow: 3px 2px 8px #888888;
}

#letters-input {
  width: 60vw;
}

.rendered-letters {
  height: 30vh;
}

/* hadas */

* {
  font-family: "Fugaz one", sans-serif;
}

:root {
  --bg: #ededf6;
  --primary-color: #edeae5;
  --secondary-color: #fce181;
  --tertiary-color: #fef9c7;
  --quanternary-color: #9fedd7;
  --quinary-color: #026670;
  --sixth-color: #5d909a;
  font-family: "Fugaz one", cursive;
}

body {
  height: 100vh;
  background-color: var(--quinary-color);
  color: var(--secondary-color);
  font-size: 20px;

  /* hadas */
  background-image: url("./assets/images/white-bricks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* hadas */
}

/* HEADER COMPONENT */

.game-header {
  color: var(--secondary-color);
  text-align: center;
  font-size: 60px;
  text-shadow: 3px 3px 2px black;
  transition: text-shadow 250ms ease, font-size 250ms ease;
  /* border: 1px solid #5d909a; */
  background-color: #5d909a;
}

.game-header:hover {
  text-shadow: 4px 4px 2px black, 6px 6px 10px black;
  font-size: 65px;
}

.game-header-3 {
  color: var(--quanternary-color);
}

/* HEADER COMPONENT END */

/* MAIN GAME PAGE */

#scramble {
  min-height: 21px;
  font-size: 40px;
  text-align: center;
}
