/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



* {
	font-family: 'Fugaz one', sans-serif,
  
}

:root {
	--bg: #ededf6;	
	--primary-color: #EDEAE5;
  --secondary-color: #FCE181;
  --tertiary-color: #FEF9C7;
  --quanternary-color: #9FEDD7;
  --quinary-color: #026670;	
	--sixth-color: #5D909A;
	  /* font-family: 'Fugaz one', cursive;		 */
}

body {
	background-color: var(--quinary-color);
	color: var(--secondary-color);
	font-size: 20px;
}


/* LANDING PAGE */


/* .login-form, .register-form, .start-game {
	color: #FCE181;
	width: 40%;

}

.sub-header {
	font-size: 20px;
} */







/* LANDING PAGE END */


 /* HEADER COMPONENT */

.game-header {
	color: var(--secondary-color);
	text-align: center;
	font-size: 60px;
	text-shadow: 3px 3px 2px black;
	transition: text-shadow 250ms ease,
				font-size 250ms ease;	
	border: 1px solid #5D909A;
	background-color: #5D909A;
	
}

.game-header:hover {
	text-shadow: 4px 4px 2px black, 6px 6px 10px black;
	font-size: 65px;	
}

.game-header-3 {
	color:var(--quanternary-color);

}

/* HEADER COMPONENT END */







/* MAIN GAME PAGE */

#scramble {
	min-height: 21px;
	font-size: 40px;
	text-align: center;
}

.container {
	height: 50px;
  	position: relative;
	/* border: 3px solid green; */
}

.vc-btn, .restart-btn, #letters-form  {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }

  #letters-submit {
	  margin-left: 45px; 
  }

/* MAIN GAME PAGE END */





/* media queries */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* smallest reasonable size: 360px */
