$light-grayish-blue: #ededf6;
$beige:              #edeae5;
$soft-yellow:        #fce181;
$very-soft-yellow:   #fef9c7;
$very-soft-cyan:     #9fedd7;
$very-dark-cyan:     #026670;
$dark-cyan:          #5d909a;
$very-dark-gray:     #4a4a4a;

$very-dark-cyan-alpha: #02667060;